* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-inicio {
    font-family: 'Roboto', sans-serif;
}

.cuerpo {
    height: 500px;
    width: 100%;
}

/* INICIO NAVBAR */
.container-navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.container-fluid {
    max-width: 1200px;
    margin: 0px auto;
}
.navbar img {
    height: 85px;
}
.nav-item {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 10px;
}
#navbarNav ul li {
    display: flex;
    justify-content: space-between;
    
}
.navbar li:hover,
.nav-link-active {
    background-color: rgb(255, 34, 34);
    color: white !important;
}
.nav-link-active {
    border-radius: 15px;
}  
.navbar li {
    border-radius: 15px;
}
.nav-link {
    color: white !important; 
}

@media (max-width:992px){
    .nav-item {
        margin: auto;
    }
}
/* FIN NAVBAR */

.body-contacto {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://res.cloudinary.com/dryiawgds/image/upload/v1665633473/fondoPelisc_cseeco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


/* INICIO FOOTER */
footer {
    width: 100%;
    padding: 10px 2px;
    background-color: black;
}


.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}

.box-footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.box-footer .logo img {
    max-width: 200px;
    position: relative;
    left: 50px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer h2 {
    margin-bottom: 15px;
    font-weight: 700;
    color: white;
}

.box-footer a {
    margin-top: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.box-footer a span {
    padding: 10px;
}

.box-footer a span:hover {
    background: var(--color-1);
    transition: 0.5s;
    border-radius: 10px;
    color: white;
}

.box-footer .fa-facebook-square {
    color: rgb(44, 60, 206);
    font-size: 25px;
}

.box-footer .fa-twitter-square {
    color: rgb(31, 125, 187);
    font-size: 25px;
}

.box-footer .fa-envelope {
    color: red;
    font-size: 25px;
}

.box-footer .fa-linkedin {
    color: white;
    font-size: 25px;
}

.box-copyright {
    text-align: center;
}

.box-copyright p {
    margin: 10px;
    color: white;
}

.box-copyright hr {
    border: none;
    height: 1px;
    max-width: 1200px;
    margin: 0px auto;
    color: white;
}

.box-copyright span {
    font-weight: 750;
    color: red;
}

/* INICIO MEDIA QUERY FOOTER */
@media (max-width:800px) {
    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box-footer .logo img {
        position: relative;
        left: 0px;
    }
}

/* FIN MEDIA QUERY FOOTER */
/* FIN FOOTER */

/* INICIO LOGIN */
.container-form-login {
    background-color: black;
    width: 400px;
    height: 500px;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;

.body-login {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://res.cloudinary.com/dryiawgds/image/upload/v1665633473/fondoPelisc_cseeco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}


/* INICIO CONTACTO */


/* INICIO LOGIN */
.container-form-login {
    width: 400px;
    height: 500px;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-contact input {
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-contact h2 {
    margin: 35px 0px;
    color: white;
}

.form-contact button {
    font-size: 22px;
    border-radius: 20px;
    margin-top: 25px;
}

.form-floating {
    width: 100%;
}

.form-floating textarea {
    resize: none;
    margin-bottom: 30px;
}


@media (max-width:500px) {
    .container-form-contact {
        width: 95%;
    }
}

/* FIN CONTACTO */