* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-login {
    font-family: 'Roboto', sans-serif;

}




/* INICIO LOGIN */
.container-form-login {
    width: 400px;
    height: 500px;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario-login input {
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario-login h2 {
    margin: 35px 0px;
    color: white;
}

.formulario-login p a {
    text-decoration: none;
}

.formulario-login button {
    margin-bottom: 15px;
    font-size: 22px;
    border-radius: 20px;
}

.form-floating {
    width: 100%;
}

/* MEDIA QUERY LOGIN */
@media (max-width:500px) {
    .container-form-login {
        width: 95%;
    }
}

/* MEDIA QUERY LOGIN */
/* FIN LOGIN */